.carousel-caption h2 {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.navbar-inverse {
  background-color: #8d6f8b;
}
.navbar-inverse .navbar-nav >li >a {
  color: #cbeef9;
  font-size: 25px;
}

.navbar-inverse .navbar-brand {
  color: #cbeef9;
}

a.navbar-brand {
  font-family: "Garamond", Times, serif;
  font-size: 40px;
}

body {
  font-family: "Garamond", Times, serif; 
  color: #665992;
}

img {
    position: center;
}

div.thumbnail {
  text-align: center;
  float: right;
  img-display: inline block;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #8d6f8b;
  font-size: 25px;
  color: #cbeef9;
}

